/* Подключение шрифтов */

@font-face {
  font-family: "Mabry-pro";
  src: url("../fonts/mabrypro-light/MiConv.com__MabryPro-Light.eot") format('eot'),
  url("../fonts/mabrypro-light/MabryPro-Light.woff") format('woff'),
  url("../fonts/mabrypro-light/MabryPro-Light.ttf") format('truetype'),
  url("../fonts/mabrypro-light/MabryPro-Light.svg") format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mabry-pro";
  src: url("../fonts/mabrypro-regular/MiConv.com__MabryPro-Regular.eot") format('eot'),
  url("../fonts/mabrypro-regular/MabryPro-Regular.woff") format('woff'),
  url("../fonts/mabrypro-regular/MabryPro-Regular.ttf") format('truetype'),
  url("../fonts/mabrypro-regular/MabryPro-Regular.svg") format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mabry-pro";
  src: url("../fonts/mabrypro-medium/MiConv.com__MabryPro-Medium.eot") format('eot'),
  url("../fonts/mabrypro-medium/MabryPro-Medium.woff") format('woff'),
  url("../fonts/mabrypro-medium/MabryPro-Medium.ttf") format('truetype'),
  url("../fonts/mabrypro-medium/MabryPro-Medium.svg") format('svg');
  font-weight: 500;
  font-style: normal;
}